@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} 

.header__square-pic {
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
    width: 568px;
    height: 568px;
    animation: rotation 20s linear infinite;
  }