.feynman {
    background-image: url("../../images/feynman.png");
    background-size: 867px 637px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #f2f2f2;
    position: relative;
    min-height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
  }