.resources__logo-zone{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    width: 1100px;
    margin: 80px 0 217px;
    padding: 0;
}