.cards{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    width: 920px;
    margin: 0;
    padding: 0;
}