* {
  margin: 0;
  padding: 0;
  }

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}


.header__title{
  margin-left: 64px;
  width: 730px;
  font-size:102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size:18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link{
  color: #2f80ed;
  font-size:18px;
  font-weight: normal;
  line-height: 25px;
  text-decoration: none;
}

.header__square-pic{
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  width: 568px;
  height: 568px; 
}

.header__main-illustration{
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
 
.z-index_on{
  z-index: 2;
}

.description{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  
}

.two-columns{
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  /* border: 2px solid red; */
}

.two-columns__brief{
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color:#2f80ed;
}

.two-columns__main-text{
  min-width: 784px;
  width: 80%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  /* border: 2px solid yellowgreen; */
}

.two-columns__span-accent{
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.margin-paragraph{
  margin-top: 30px;
  margin-bottom: 30px;
}

.digits{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subtitle{
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}


.section-title{
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.table{
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text{
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.kaufman_theme_dark{
  color: white;
}

.table__cell_theme_light{
  margin-top: 60px;
  width: 250px;
}

.table__cell_theme_dark{
  margin-top: 80px;
  width: 200px;
}

.feynman{
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feynman__title{
  width: 648px;
  margin: 100px 0 70px;
  /* margin-bottom: 70px; */
  z-index: 2;
  font-size: 120px;
  text-align: center;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle{

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}


.feynman__img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.kaufman{
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.kaufman__triangle{
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.footer{
  background-color: #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.footer__columns{
  min-height: 350px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_author{
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links{
  margin: 20px 0 16px;
  list-style-type: none;
}

.social-icon{
  padding-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link{
  display: flex;
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__column-link__line-height{
  line-height: normal;
}